/* Work Sans font from google font */
@import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');

/* Shared styles */
* {
    font-family: "Work Sans", sans-serif;
    margin: 0;
    padding: 0;
}

.btn-primary {
    color: #FFFFFF;
    background: #FF900E;
    border: none;
    padding: 20px 25px;
    border-radius: 8px;
    font-size: 1.2rem;
    font-weight: 600;
    margin-bottom: 20px;
    cursor: pointer;
}

.body-text-light-gray {
    color: #727272;
    padding-bottom: 30px;
}

.teams-title,
.facts-title , .sponsor-title, .feature-section-title, .experience-title{
    color: #131313;
    font-weight: 700;
    font-size: 3rem;
}

/* header styles started*/
.header-section {
    background: rgba(255, 144, 14, 0.1);
    padding: 50px 150px;

}

/* Nav styles */
nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav-title {
    font-size: 3rem;
    font-weight: 700;
    color: #131313;

}

nav>ul {
    display: flex;
}

nav li {
    list-style: none;
    margin-left: 30px;
    font-size: 1.2rem;
    font-weight: 500;
}

nav li a {
    text-decoration: none;
    color: #424242;
}

/* banner styles */
.banner {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.banner-content {
    max-width: 800px;
    text-align: center;
    margin: 25px auto;
}

.banner-title {
    color: #131313;
    font-size: 4rem;
    font-weight: 700;
    padding-top: 30px;
    padding-bottom: 16px;
}

.banner img {
    width: 100%;
}

/* header styles ended */

/* Main styles started */

main {
    max-width: 1440px;

}

.teams-container {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 120px 240px 20px 240px;
    margin: 5px auto;

}

.teams-content {
    margin-left: 60px;
    ;
    align-items: center;
}

.teams-title {
    width: 400px;
    font-size: 3rem;
    padding-bottom: 20px;
}

.teams-title #quick-list {
    color: #727272;
    font-weight: 500;
}

.teams-title #features {
    color: #FF900E;
    font-weight: 700;
}

.teams-img-contaner {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 1rem;
}

/* teams section styles ended */

/* feauter section styles started */
.feature-section {
    padding: 120px 120px 0 120px;
    display: flex;
    gap: 100px;
}

.feature-section-title{
    border-left: 5px solid #FF900E;
    padding-left: 20px;
    margin-bottom: 30px;
}

.feature-section-content{
    max-width: 600px;
}

.feature-card{
    border-radius: 8px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.1);
    padding: 30px;
    margin-bottom: 30px;

}

.feature-img-container{
    max-width: 50%;
    position: relative;
    top: -30px;
    left: 20px;
}

.experience-card{
    width: 250px;;
    background: #FF900E;
    text-align: center;
    border-radius: 8px;
    padding: 60px 20px;
    position: relative;
    top: -110px;
    left: -80px;
}

.experience-title{
    color: white;
}

.experience-card p{
    font-size: 1.5rem;
    color: #FFFFFF;
}
/* feature section styles ende */

/* facts section styles started */
.facts-container {
    padding: 30px 120px 50px 120px;

}

.facts-card-container {
    display: flex;
    justify-content: space-around;
    margin: 50px auto;
    gap: 100px
}

.facts-title {
    margin-bottom: 20px;
    border-left: 5px solid #FF900E;
    padding-left: 20px;
}

.facts-card {
    border: 5px solid #FF900E;
    text-align: center;
    padding: 20px;
    width: 350px;
    border-radius: 5px;

}

.card-stats {
    font-size: 2.8rem;
    color: #424242;
}

.card-title {
    font-weight: 600;
    font-size: 20px;
    color: #727272;
}
/* facts section styles ended */
/* sponsors section styles started */

.sponsor-container{
    text-align: center;
    margin-bottom: 30px;
}

.sponsor-img-container{
    display: flex;
    justify-content: space-evenly;
    margin-bottom: 100px;
}

.sponsor-description{
    margin-top: 20px;
}

footer{
    margin: 120px;
    text-align: center;
    background: #FFF4E7 ;
    
}

.footer-content{
padding: 45px;
    
}


/* Responsive media queries */

/* mobile devices */

@media screen and (max-width: 576px) {

    main {
        text-align: center;
    }

    .header-section,
    .teams-container {
        padding: 25px;

    }

    nav,
    .teams-container {
        flex-direction: column;
        justify-content: center;
    }

    nav>ul {
        margin-top: 20px;
        margin-right: 25px;

    }

    nav li {
        margin-left: 20px;
        font-size: 16px;
        font-weight: 500;
    }

    .banner-title {
        font-size: 2rem;
    }

    #banner-img-size {
        width: 90%;
    }

    .teams-img-contaner {
        padding: 20px;
        grid-template-columns: 1fr;
        margin-bottom: 20px;
        column-gap: 10px;
    }

    #img-size {
        width: 95%;
        height: 95%;
    }

    .teams-title {
        font-size: 2rem;
        text-align: center;
        width: 340px;
    }

    .body-text-light-gray {
        font-size: 14px;
        text-align: center;
        padding: 16px;
    }

    .banner-content,
    .teams-content {
        text-align: center;
        margin: 0;
        padding: 16px;

    }

    .facts-container {
        padding: 20px;
        text-align: center;
    }

    .facts-card-container {
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;
        column-gap: 0px;
        row-gap: 30px;
    }

    .facts-title {
        font-size: 2rem;
        margin-bottom: 20px;
        border-left: none;
        padding-left: 0;
        margin: 0;
    }

    .facts-card {
        margin: 0;
        border: 5px solid #FF900E;
        text-align: center;
        padding: 25px;
        width: 210px;
        border-radius: 3px;

    }

    .card-stats {
        font-size: 2rem;
    }

    .card-title {
        font-weight: 600;
        font-size: 18px;
    }

    .sponsor-title{
        font-size: 2rem;
    }
    .sponsor-img-container{
    flex-direction: column;
    padding: 30px;
    gap: 30px;
    }

    footer{
        margin: 0px;
        text-align: center;
        background: #FFF4E7 ;
        
    }
    
    .footer-content{
    padding: 20px;
    font-size: 16px;
        
    }

}

/* tablet or medium devices */

@media screen and (min-width: 577px) and (max-width: 850px) {
    .header-section {
        padding: 25px 60px;
    }

    nav {
        flex-direction: column;
        justify-content: center;
    }

    nav>ul {
        margin-top: 30px;
        margin-right: 60px;

    }

    nav li {
        margin-left: 20px;
        font-size: 20px;
        font-weight: 500;
    }

    .banner-title {
        font-size: 3rem;
    }

    .teams-container{
        flex-direction: column-reverse;
        gap: 50px;
        text-align: center;
    }

    .facts-container{
        text-align: center;
    }

    .facts-title{
        border-left: none;
        padding: auto;
    }

    .facts-card-container{

        flex-wrap: wrap;
        
    }

    .sponsor-img-container{
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        justify-content: center;
        align-items: center;
        padding: 50px;
        gap: 30px;
        
        }
    
        footer{
            margin: 0px;
            text-align: center;
            background: #FFF4E7 ;
            
        }
        
        .footer-content{
        padding: 20px;
        font-size: 18px;
            
        }
}








/* large devices */

@media screen and (min-width: 850px) and (max-width: 1190px) {
    .header-section {
        padding: 30px 60px;
        
    }

    .teams-container, .facts-container{
       padding: 30px 50px;
      
    }

    .teams-content{
    width: 50%;
    }
    #img-size {
        width: 100%;
        height: 100%;
    }

    .facts-card-container{
        display: grid;
        grid-template-columns: repeat(2,1fr);
        gap: 50px;
    }

    .facts-card{
        align-items: center;
        width: 250px;
        height: 150px;
        padding: 40px
    }

    .sponsor-img-container{
       flex-wrap: wrap;
        justify-content: center;
        align-items: center;
        padding: 30px 50px;
        gap: 50px;
        
        }

    
}