/* Work Sans font from google font */
@import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');

/* Shared styles */
* {
    font-family: "Work Sans", sans-serif;
    margin: 0;
    padding: 0;
}

.btn-primary {
    color: #FFFFFF;
    background: #FF900E;
    border: none;
    padding: 20px 25px;
    border-radius: 8px;
    font-size: 1.2rem;
    font-weight: 600;
    margin-bottom: 20px;
    cursor: pointer;
}

.body-text-light-gray {
    color: #727272;
    padding-bottom: 30px;
}

/* header styles started*/
.header-section {
    background: rgba(255, 144, 14, 0.1);
    padding: 45px 240px;

}

/* Nav styles */
nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav-title {
    font-size: 3rem;
    font-weight: 700;
    color: #131313;

}

nav>ul {
    display: flex;
}

nav li {
    list-style: none;
    margin-left: 30px;
    font-size: 1.2rem;
    font-weight: 500;
}

nav li a {
    text-decoration: none;
    color: #424242;
}

/* banner styles */
.banner {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.banner-content {
    max-width: 800px;
    text-align: center;
    margin: 25px auto;
}

.banner-title {
    color: #131313;
    font-size: 4rem;
    font-weight: 700;
    padding-top: 30px;
    padding-bottom: 16px;
}

.banner img {
    width: 100%;
}

/* header styles ended */

/* Main styles started */

main {
    max-width: 1440px;
}

.teams-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    padding: 60px 240px;

}

.teams-content {
    margin-left: 60px;
    ;
    align-items: center;
}

.teams-title {
    width: 400px;
    font-size: 3rem;
    padding-bottom: 20px;
}

.teams-title #quick-list {
    color: #727272;
    font-weight: 500;
}

.teams-title #of-our {
    color: #131313;
    font-weight: 700;
}

.teams-title #features {
    color: #FF900E;
    font-weight: 700;
}

.teams-img-contaner {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 1rem;
}

/* Responsive media queries */

/* mobile devices */

@media screen and (max-width: 576px) {

    .header-section,
    .teams-container {
        padding: 12px;

    }

    nav,
    .teams-container {
        flex-direction: column;
        justify-content: center;
    }

    nav>ul {
        margin-top: 20px;
        margin-right: 25px;

    }

    nav li {
        margin-left: 20px;
        font-size: 16px;
        font-weight: 500;
    }

    .banner-title {
        font-size: 2rem;
    }

    .teams-img-contaner {
        grid-template-columns: 1fr;
        margin-bottom: 20px;
        column-gap: 10px;
    }

    .teams-title {
        font-size: 2rem;
        text-align: center;
    }

    .body-text-light-gray {
        font-size: 14px;
        text-align: center;
        padding: 16px;
    }

    .banner-content,
    .teams-content {
        text-align: center;
        margin: 0;
        padding: 16px;

    }




}

/* tablet or medium devices */

@media screen and (min-width: 577px) and (max-width: 850px) {
    .header-section {
        padding: 25px 60px;
    }

    nav {
        flex-direction: column;
        justify-content: center;
    }

    nav>ul {
        margin-top: 30px;
        margin-right: 60px;

    }

    nav li {
        margin-left: 20px;
        font-size: 20px;
        font-weight: 500;
    }

    .banner-title {
        font-size: 3rem;
    }
}


/* large devices */

@media screen and (min-width: 850px) and (max-width: 1190px) {
    .header-section {
        padding: 30px 60px;
    }
}